@CHARSET "ISO-8859-1";

#header {
	width: 100%;
	background-color: green;
}

#header ul {
	list-style: none;
}

#header li {
  	float: right;
  	margin-left: 50px;
  	margin-right: 50px;
  	display:inline;
}

#nav {
	width: inherit;
	height: 30px;
	text-align: right;
	background-color: blue;
}

#nav a {
	text-decoration: none;
	color: black;		
}

#nav a:HOVER {
	text-decoration: underline;
}

#logo {
}

#nodisplay {
	display: none;
}

#main {
	width: 100%;
	background-color: gray;
}

#menu {
	width: inherit;
	background-color: purple;
}

#addWidget {
	width: 200px;
	height: 50px;
	background-color: green;
	color: white;
	text-align: center;
}

.no-bullets {
	list-style:none
}

#addWidget:hover {
	background-color:blue;
}

#content {
	margin: 0 auto;
	width: 80%;
	background-color: orange;
}

.draggable {
	width: 200px; 
	height: 150px; 
	background: white;
	-webkit-box-shadow: 0px 3px 11px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 11px 3px rgba(0,0,0,0.75);
	position: absolute;
    z-index: 2;
}

.draggable:hover .crossClose {
	display: block;
}

.crossClose {
	display: none;
    width: 16px;
    height: 16px;
    margin:2px 2px 0 auto;
	background-image: url('../images/index/cross-close_16.png');
	background-position: top left;
	background-repeat: no-repeat;
    z-index: 20;
}

.crossClose:hover {
	cursor: pointer;
}

#footer {
	width: 100%;
	text-align: center;
	background-color: maroon;
}

#footer a {
	text-decoration: none;
	color: black;
}

#footer a:HOVER {
	text-decoration: underline;
}

#footer ul {
	list-style: none;
}

#footer li {
	display: inline;
}